# Aula 7

Importando os pacotes necessários:

In [1]:
import pandas as pd

import statsmodels.api as sm

Carregando os dados da primeira aula:

In [2]:
data = pd.read_csv('dayone.csv')

Fazendo uma regressão linear:

In [3]:
# Primeiro parâmetro: Y
# Segundo parâmetro: X1, ..., Xn (não esqueça os colchetes duplos)
model = sm.OLS(data['innovation'], data[['salary', 'degree', 'betweenness']])
result = model.fit()
result.summary()

/home/henryrocha/.local/share/virtualenvs/social-networks-cBbweyKa/lib/python3.8/site-packages/scipy/stats/stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=17
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:             innovation   R-squared (uncentered):                   0.986
Model:                            OLS   Adj. R-squared (uncentered):              0.983
Method:                 Least Squares   F-statistic:                              334.0
Date:                Mon, 21 Sep 2020   Prob (F-statistic):                    2.94e-13
Time:                        11:24:38   Log-Likelihood:                          35.323
No. Observations:                  17   AIC:                                     -64.65
Df Residuals:                      14   BIC:                                     -62.15
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
salary      -1.079e-05   2.31e-06     -4.679      0.000   -1.57e-05   -5.84e-06
degree          0.0296      0.003      9.294      0.000       0.023       0.036
betweenness     1.0181      0.061     16.663      0.000       0.887       1.149
==============================================================================
Omnibus:                        0.959   Durbin-Watson:                   2.168
Prob(Omnibus):                  0.619   Jarque-Bera (JB):                0.752
Skew:                           0.162   Prob(JB):                        0.686
Kurtosis:                       2.021   Cond. No.                     4.56e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 4.56e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Carregando os dados da última aula:

In [4]:
# Carrega já ignorando todos as linhas com NA
data = pd.read_csv('escolas.csv').dropna()

# Trunca a coluna PAI para 0-1
data['PAI'] = data['PAI'].apply(lambda value: 0 if value == 0 else 1)

Fazendo uma regressão logística:

In [5]:
# Primeiro parâmetro: Y
# Segundo parâmetro: X1, ..., Xn (não esqueça os colchetes duplos)
model = sm.Logit(data['PAI'], data[['CORDEPELE', 'SATISFEITOCOMSITUAÇÃOFINANCEIRA']])
result = model.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.531912
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                    PAI   No. Observations:                  509
Model:                          Logit   Df Residuals:                      507
Method:                           MLE   Df Model:                            1
Date:                Mon, 21 Sep 2020   Pseudo R-squ.:               -0.009402
Time:                        11:24:38   Log-Likelihood:                -270.74
converged:                       True   LL-Null:                       -268.22
Covariance Type:            nonrobust   LLR p-value:                     1.000
===================================================================================================
                                      coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
CORDEPELE                          -0.0091      0.028     -0.328      0.743      -0.064       0.045
SATISFEITOCOMSITUAÇÃOFINANCEIRA     0.1732      0.029      6.059      0.000       0.117       0.229
===================================================================================================
"""

Exemplo simples de one-hot-encoding:

In [6]:
# Obtém todos os valores possíveis da coluna.
values = data['RELIGIÃO'].unique()

# Cria uma coluna para todos os valores, menos um.
# A última coluna é implícita pelas outras, então
# seria redundante criá-la.
for value in values[:-1]:
    data[value] = [1 if v == value else 0 for v in data['RELIGIÃO']]

Valores originais:

In [7]:
data[['RELIGIÃO']]

                 RELIGIÃO
2     Não Possui Religião
9              Evangélica
15               Ateı́sta
19    Não Possui Religião
24               Católica
...                   ...
3391           Evangélica
3392  Não Possui Religião
3397             Católica
3404           Evangélica
3409             Católica

[509 rows x 1 columns]

Valores encoded:

In [8]:
data[values[:-1]]

,Não Possui Religião,Evangélica,Ateı́sta,Católica,Outra Religião,Religião Afro-Brasileira
2,1,0,0,0,0,0
9,0,1,0,0,0,0
15,0,0,1,0,0,0
19,1,0,0,0,0,0
24,0,0,0,1,0,0
...,...,...,...,...,...,...
3391,0,1,0,0,0,0
3392,1,0,0,0,0,0
3397,0,0,0,1,0,0
3404,0,1,0,0,0,0
3409,0,0,0,1,0,0

EOL